footer{
    background-color: #1C3E95;
    padding: 60px 0 90px;
}

.footerGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.footertitle{
    color: #fff;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
}

.footerLinks a{
    color: #fff;
    font-family: 'Lato', sans-serif!important;
    font-size: 16px;
    line-height: 1.6;
    display: block;
    width: fit-content;
    transition: 0.3s;
}

.footerLinks a:hover{
    color: #FE7A22;
}

.footerLinks a.active{
    color: #FE7A22;
}

.footerLinks .phoneNumber{
    color: #FE7A22;
    font-size: 25px;
    font-weight: 700;
}

@media(max-width: 991px){
    .footerGrid{
        grid-template-columns: repeat(2, 1fr);
    }

    .footerGrid .footertitle{
        text-align: center;
    }

    .footerGrid .footerLinks a{
        margin: auto;
        text-align: center;
    }
}

@media(max-width: 480px){
    .footerGrid{
        grid-template-columns: 1fr;
    }
}