body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none!important;
}

button,
input,
optgroup,
select,
textarea,
label,
span,
p{
    font-family: 'Lato', sans-serif!important;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Quicksand', sans-serif;
}

:focus-visible {
    outline: none!important;
}

.globalText{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    color: #161616;
}